flask==3.0.0
gunicorn==21.1.0
python-dotenv==1.0.0
pandas
google-cloud-storage
PyMuPDF
Werkzeug>=2.2.2
Pillow
anthropic
PyPDF2
pypdf
Groq
requests
beautifulsoup4
langchain-community
google-search-results
langchain
langchain_groq
