flask==3.0.0
gunicorn==21.1.0
python-dotenv==1.0.0
pandas
google-cloud-storage
PyMuPDF
Werkzeug>=2.2.2
Pillow
anthropic
PyPDF2
pypdf
Groq==0.11.0
requests
beautifulsoup4
langchain-community==0.3.4
google-search-results
langchain==0.3.6
langchain_groq==0.2.0
